-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: j4u
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin` (
  `email` varchar(200) NOT NULL,
  `pass` varchar(200) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `allotlawyer`
--

DROP TABLE IF EXISTS `allotlawyer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `allotlawyer` (
  `alid` int(11) NOT NULL AUTO_INCREMENT,
  `cid` int(11) NOT NULL DEFAULT 0,
  `name` varchar(200) NOT NULL,
  `title` varchar(200) NOT NULL,
  `des` varchar(200) NOT NULL,
  `curdate` varchar(200) NOT NULL,
  `courttype` varchar(200) NOT NULL,
  `city` varchar(200) NOT NULL,
  `mop` varchar(200) NOT NULL,
  `tid` varchar(200) NOT NULL,
  `amt` varchar(200) NOT NULL,
  `cname` varchar(200) NOT NULL,
  `lname` varchar(200) NOT NULL,
  PRIMARY KEY (`alid`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allotlawyer`
--

LOCK TABLES `allotlawyer` WRITE;
/*!40000 ALTER TABLE `allotlawyer` DISABLE KEYS */;
/*!40000 ALTER TABLE `allotlawyer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `case_assignments`
--

DROP TABLE IF EXISTS `case_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `case_assignments` (
  `assignment_id` int(11) NOT NULL AUTO_INCREMENT,
  `case_id` int(11) NOT NULL,
  `lawyer_id` int(11) NOT NULL,
  `assigned_date` datetime DEFAULT current_timestamp(),
  `status` varchar(50) DEFAULT 'ACTIVE',
  PRIMARY KEY (`assignment_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `case_assignments`
--

LOCK TABLES `case_assignments` WRITE;
/*!40000 ALTER TABLE `case_assignments` DISABLE KEYS */;
/*!40000 ALTER TABLE `case_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `case_documents`
--

DROP TABLE IF EXISTS `case_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `case_documents` (
  `doc_id` int(11) NOT NULL AUTO_INCREMENT,
  `case_id` int(11) NOT NULL,
  `uploader_email` varchar(200) NOT NULL,
  `uploader_role` varchar(50) NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `uploaded_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`doc_id`),
  KEY `case_id` (`case_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `case_documents`
--

LOCK TABLES `case_documents` WRITE;
/*!40000 ALTER TABLE `case_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `case_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `case_messages`
--

DROP TABLE IF EXISTS `case_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `case_messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `case_id` int(11) NOT NULL,
  `sender_email` varchar(255) NOT NULL,
  `sender_role` varchar(20) NOT NULL,
  `message_text` text DEFAULT NULL,
  `file_name` varchar(255) DEFAULT NULL,
  `file_path` varchar(500) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_case_id` (`case_id`),
  KEY `idx_sender` (`sender_email`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `case_messages`
--

LOCK TABLES `case_messages` WRITE;
/*!40000 ALTER TABLE `case_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `case_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `case_timeline`
--

DROP TABLE IF EXISTS `case_timeline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `case_timeline` (
  `timeline_id` int(11) NOT NULL AUTO_INCREMENT,
  `alid` int(11) NOT NULL COMMENT 'Reference to allotlawyer.alid',
  `event_type` varchar(50) NOT NULL COMMENT 'CASE_FILED, LAWYER_ASSIGNED, ACCEPTED, DOCUMENT_UPLOADED, HEARING_SCHEDULED, CLOSED',
  `event_description` varchar(255) NOT NULL,
  `event_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `performed_by` varchar(100) NOT NULL,
  PRIMARY KEY (`timeline_id`),
  KEY `idx_alid` (`alid`),
  KEY `idx_event_type` (`event_type`),
  CONSTRAINT `case_timeline_ibfk_1` FOREIGN KEY (`alid`) REFERENCES `allotlawyer` (`alid`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `case_timeline`
--

LOCK TABLES `case_timeline` WRITE;
/*!40000 ALTER TABLE `case_timeline` DISABLE KEYS */;
/*!40000 ALTER TABLE `case_timeline` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `case_types`
--

DROP TABLE IF EXISTS `case_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `case_types` (
  `case_type_id` int(11) NOT NULL AUTO_INCREMENT,
  `case_type_name` varchar(100) NOT NULL,
  PRIMARY KEY (`case_type_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `case_types`
--

LOCK TABLES `case_types` WRITE;
/*!40000 ALTER TABLE `case_types` DISABLE KEYS */;
INSERT INTO `case_types` VALUES (9,'General Legal Matter');
/*!40000 ALTER TABLE `case_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `casetb`
--

DROP TABLE IF EXISTS `casetb`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `casetb` (
  `cid` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(200) NOT NULL,
  `title` varchar(255) NOT NULL,
  `des` text DEFAULT NULL,
  `curdate` varchar(200) NOT NULL,
  `courttype` varchar(100) NOT NULL,
  `city` varchar(200) NOT NULL,
  `mop` varchar(200) NOT NULL,
  `tid` varchar(200) NOT NULL,
  `amt` varchar(200) NOT NULL,
  `cname` varchar(255) NOT NULL,
  `flag` int(11) NOT NULL DEFAULT 0,
  `assignment_type` varchar(10) DEFAULT 'ADMIN',
  `case_status` varchar(30) DEFAULT 'PENDING',
  PRIMARY KEY (`cid`)
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `casetb`
--

LOCK TABLES `casetb` WRITE;
/*!40000 ALTER TABLE `casetb` DISABLE KEYS */;
/*!40000 ALTER TABLE `casetb` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cust_reg`
--

DROP TABLE IF EXISTS `cust_reg`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cust_reg` (
  `cid` int(11) NOT NULL AUTO_INCREMENT,
  `cname` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `email` varchar(200) NOT NULL,
  `pass` varchar(255) DEFAULT NULL,
  `dob` varchar(200) NOT NULL,
  `mobno` varchar(200) NOT NULL,
  `ano` varchar(200) NOT NULL,
  `pno` varchar(50) DEFAULT NULL,
  `cadd` varchar(200) NOT NULL,
  `padd` varchar(200) NOT NULL,
  `cate` varchar(100) DEFAULT NULL,
  `des` text DEFAULT NULL,
  `preferred_location` varchar(200) DEFAULT NULL,
  `ur` varchar(50) DEFAULT NULL,
  `registration_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `verification_status` varchar(20) DEFAULT 'PENDING' COMMENT 'PENDING, VERIFIED, REJECTED',
  `profile_type` varchar(20) DEFAULT NULL COMMENT 'admin, manual',
  `security_question` varchar(255) DEFAULT NULL,
  `security_answer` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`cid`)
) ENGINE=InnoDB AUTO_INCREMENT=83 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cust_reg`
--

LOCK TABLES `cust_reg` WRITE;
/*!40000 ALTER TABLE `cust_reg` DISABLE KEYS */;
/*!40000 ALTER TABLE `cust_reg` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_cases`
--

DROP TABLE IF EXISTS `customer_cases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer_cases` (
  `case_id` int(11) NOT NULL AUTO_INCREMENT,
  `customer_id` int(11) NOT NULL,
  `case_type_id` int(11) NOT NULL,
  `title` varchar(200) NOT NULL,
  `description` text NOT NULL,
  `preferred_court_location` varchar(200) DEFAULT NULL,
  `urgency_level` varchar(20) DEFAULT 'NORMAL',
  `status` enum('OPEN','PENDING_LAWYER_CONFIRMATION','ASSIGNED','CLOSED') DEFAULT 'OPEN',
  `created_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `assigned_lawyer_id` int(11) DEFAULT NULL,
  `vakalatnama_status` varchar(50) DEFAULT 'Pending',
  `custom_case_title` varchar(150) DEFAULT NULL,
  `current_phase` varchar(100) DEFAULT 'Consultation',
  `payment_model` varchar(50) DEFAULT 'Fixed Fee',
  `total_fee` decimal(10,2) DEFAULT 0.00,
  `paid_amount` decimal(10,2) DEFAULT 0.00,
  `next_payment_due_date` date DEFAULT NULL,
  PRIMARY KEY (`case_id`),
  KEY `customer_id` (`customer_id`),
  KEY `case_type_id` (`case_type_id`),
  KEY `assigned_lawyer_id` (`assigned_lawyer_id`),
  CONSTRAINT `customer_cases_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `cust_reg` (`cid`),
  CONSTRAINT `customer_cases_ibfk_2` FOREIGN KEY (`case_type_id`) REFERENCES `case_types` (`case_type_id`),
  CONSTRAINT `customer_cases_ibfk_3` FOREIGN KEY (`assigned_lawyer_id`) REFERENCES `lawyer_reg` (`lid`),
  CONSTRAINT `fk_cc_case` FOREIGN KEY (`case_id`) REFERENCES `casetb` (`cid`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_cases`
--

LOCK TABLES `customer_cases` WRITE;
/*!40000 ALTER TABLE `customer_cases` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_cases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `discussions`
--

DROP TABLE IF EXISTS `discussions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `discussions` (
  `msg_id` int(11) NOT NULL AUTO_INCREMENT,
  `case_id` int(11) NOT NULL,
  `sender_email` varchar(100) NOT NULL,
  `sender_role` varchar(20) NOT NULL COMMENT 'lawyer, client, intern',
  `receiver_email` varchar(100) NOT NULL,
  `receiver_role` varchar(20) NOT NULL,
  `message_text` text NOT NULL,
  `timestamp` timestamp NOT NULL DEFAULT current_timestamp(),
  `is_read` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`msg_id`),
  KEY `idx_sender_email` (`sender_email`),
  KEY `idx_receiver_email` (`receiver_email`),
  KEY `idx_timestamp` (`timestamp`),
  KEY `fk_discussions_case_id` (`case_id`),
  CONSTRAINT `fk_discussions_case_id` FOREIGN KEY (`case_id`) REFERENCES `casetb` (`cid`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `discussions`
--

LOCK TABLES `discussions` WRITE;
/*!40000 ALTER TABLE `discussions` DISABLE KEYS */;
/*!40000 ALTER TABLE `discussions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hearings`
--

DROP TABLE IF EXISTS `hearings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hearings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `case_id` int(11) NOT NULL,
  `hearing_date` date NOT NULL,
  `hearing_time` time DEFAULT '10:00:00',
  `court_name` varchar(255) NOT NULL,
  `court_address` varchar(500) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_by` varchar(200) DEFAULT NULL,
  `created_role` varchar(20) DEFAULT 'lawyer',
  `order_copy_path` varchar(500) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `case_id` (`case_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hearings`
--

LOCK TABLES `hearings` WRITE;
/*!40000 ALTER TABLE `hearings` DISABLE KEYS */;
/*!40000 ALTER TABLE `hearings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intern`
--

DROP TABLE IF EXISTS `intern`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `intern` (
  `internid` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(200) NOT NULL,
  `email` varchar(200) NOT NULL,
  `pass` varchar(200) NOT NULL,
  `dob` varchar(200) NOT NULL,
  `mobno` varchar(200) NOT NULL,
  `ano` varchar(200) NOT NULL,
  `cadd` varchar(200) NOT NULL,
  `padd` varchar(200) NOT NULL,
  `mop` varchar(200) NOT NULL,
  `tid` varchar(200) NOT NULL,
  `amt` varchar(200) NOT NULL,
  `flag` int(11) NOT NULL DEFAULT 0,
  `security_question` varchar(255) DEFAULT NULL,
  `security_answer` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`internid`),
  UNIQUE KEY `uk_intern_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intern`
--

LOCK TABLES `intern` WRITE;
/*!40000 ALTER TABLE `intern` DISABLE KEYS */;
/*!40000 ALTER TABLE `intern` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intern_assignments`
--

DROP TABLE IF EXISTS `intern_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `intern_assignments` (
  `assignment_id` int(11) NOT NULL AUTO_INCREMENT,
  `intern_email` varchar(200) NOT NULL,
  `case_id` int(11) NOT NULL,
  `alid` int(11) NOT NULL,
  `assigned_by` varchar(200) NOT NULL,
  `status` varchar(50) DEFAULT 'ACTIVE',
  `assigned_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`assignment_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intern_assignments`
--

LOCK TABLES `intern_assignments` WRITE;
/*!40000 ALTER TABLE `intern_assignments` DISABLE KEYS */;
INSERT INTO `intern_assignments` VALUES (1,'virat@gmail.com',3,17,'dhoni@gmail.com','ACTIVE','2026-03-07 11:31:35');
/*!40000 ALTER TABLE `intern_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intern_lawyer_assignments`
--

DROP TABLE IF EXISTS `intern_lawyer_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `intern_lawyer_assignments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `intern_email` varchar(200) NOT NULL,
  `lawyer_email` varchar(200) NOT NULL,
  `assigned_by` varchar(200) DEFAULT NULL,
  `status` enum('PENDING','ACCEPTED','REJECTED') DEFAULT 'PENDING',
  `assigned_date` datetime DEFAULT current_timestamp(),
  `response_date` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_intern` (`intern_email`),
  KEY `idx_lawyer` (`lawyer_email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intern_lawyer_assignments`
--

LOCK TABLES `intern_lawyer_assignments` WRITE;
/*!40000 ALTER TABLE `intern_lawyer_assignments` DISABLE KEYS */;
INSERT INTO `intern_lawyer_assignments` VALUES (1,'virat@gmail.com','dhoni@gmail.com','admin','ACCEPTED','2026-04-01 00:38:50','2026-04-01 02:16:48'),(2,'intern_verify_304487@test.com','lawyer66318499@test.com','admin@gmail.com','PENDING','2026-04-01 02:36:59',NULL);
/*!40000 ALTER TABLE `intern_lawyer_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intern_profiles`
--

DROP TABLE IF EXISTS `intern_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `intern_profiles` (
  `profile_id` int(11) NOT NULL AUTO_INCREMENT,
  `intern_email` varchar(200) DEFAULT NULL,
  `college_name` varchar(255) DEFAULT NULL,
  `degree_program` varchar(100) DEFAULT NULL,
  `current_year` varchar(50) DEFAULT NULL,
  `student_id_number` varchar(100) DEFAULT NULL,
  `areas_of_interest` text DEFAULT NULL,
  `skills` text DEFAULT NULL,
  `preferred_city` varchar(100) DEFAULT NULL,
  `availability_duration` varchar(50) DEFAULT NULL,
  `internship_mode` varchar(50) DEFAULT NULL,
  `id_card_front_path` varchar(500) DEFAULT NULL,
  `id_card_back_path` varchar(500) DEFAULT NULL,
  `bonafide_cert_path` varchar(500) DEFAULT NULL,
  `verification_status` varchar(50) DEFAULT 'UNVERIFIED',
  PRIMARY KEY (`profile_id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intern_profiles`
--

LOCK TABLES `intern_profiles` WRITE;
/*!40000 ALTER TABLE `intern_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `intern_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intern_tasks`
--

DROP TABLE IF EXISTS `intern_tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `intern_tasks` (
  `task_id` int(11) NOT NULL AUTO_INCREMENT,
  `assignment_id` int(11) NOT NULL,
  `title` varchar(200) NOT NULL,
  `due_date` date DEFAULT NULL,
  `status` varchar(50) DEFAULT 'PENDING',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`task_id`),
  KEY `assignment_id` (`assignment_id`),
  CONSTRAINT `intern_tasks_ibfk_1` FOREIGN KEY (`assignment_id`) REFERENCES `intern_assignments` (`assignment_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intern_tasks`
--

LOCK TABLES `intern_tasks` WRITE;
/*!40000 ALTER TABLE `intern_tasks` DISABLE KEYS */;
INSERT INTO `intern_tasks` VALUES (1,1,'Automated Verification Task 1772883098858','2026-12-31','PENDING','2026-03-07 11:31:39');
/*!40000 ALTER TABLE `intern_tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lawyer_documents`
--

DROP TABLE IF EXISTS `lawyer_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lawyer_documents` (
  `doc_id` int(11) NOT NULL AUTO_INCREMENT,
  `lawyer_id` int(11) NOT NULL,
  `document_type` varchar(50) NOT NULL COMMENT 'BAR_CERTIFICATE, GOV_ID_PROOF, PROFESSIONAL_PHOTO, LIVE_SELFIE',
  `file_name` varchar(255) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `upload_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `status` varchar(20) DEFAULT 'PENDING' COMMENT 'PENDING, VERIFIED, REJECTED',
  `admin_review_date` timestamp NULL DEFAULT NULL,
  `admin_remarks` text DEFAULT NULL,
  PRIMARY KEY (`doc_id`),
  KEY `lawyer_id` (`lawyer_id`),
  CONSTRAINT `lawyer_documents_ibfk_1` FOREIGN KEY (`lawyer_id`) REFERENCES `lawyer_reg` (`lid`)
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lawyer_documents`
--

LOCK TABLES `lawyer_documents` WRITE;
/*!40000 ALTER TABLE `lawyer_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `lawyer_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lawyer_reg`
--

DROP TABLE IF EXISTS `lawyer_reg`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lawyer_reg` (
  `lid` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `email` varchar(200) NOT NULL,
  `pass` varchar(200) NOT NULL,
  `dob` varchar(200) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `ano` varchar(200) NOT NULL,
  `cadd` varchar(200) NOT NULL,
  `padd` varchar(200) NOT NULL,
  `mop` varchar(200) NOT NULL,
  `tid` varchar(200) NOT NULL,
  `amt` varchar(200) NOT NULL,
  `flag` int(11) NOT NULL DEFAULT 0,
  `document_verification_status` varchar(20) DEFAULT 'PENDING' COMMENT 'PENDING, VERIFIED, REJECTED',
  `profile_pic` varchar(255) DEFAULT 'default_lawyer.jpg',
  `designation` varchar(100) DEFAULT 'Advocate',
  `bar_council_number` varchar(100) DEFAULT NULL,
  `practicing_courts` text DEFAULT NULL,
  `languages_spoken` varchar(255) DEFAULT NULL,
  `verified` tinyint(1) DEFAULT 0,
  `address` text DEFAULT NULL,
  `response_time_avg` varchar(50) DEFAULT '4 hours',
  `specialization` varchar(255) DEFAULT NULL,
  `experience_years` int(11) DEFAULT 0,
  `security_question` varchar(255) DEFAULT NULL,
  `security_answer` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`lid`),
  UNIQUE KEY `uk_lawyer_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lawyer_reg`
--

LOCK TABLES `lawyer_reg` WRITE;
/*!40000 ALTER TABLE `lawyer_reg` DISABLE KEYS */;
/*!40000 ALTER TABLE `lawyer_reg` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lawyer_requests`
--

DROP TABLE IF EXISTS `lawyer_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lawyer_requests` (
  `request_id` int(11) NOT NULL AUTO_INCREMENT,
  `case_id` int(11) NOT NULL,
  `client_email` varchar(200) NOT NULL,
  `lawyer_email` varchar(200) NOT NULL,
  `status` enum('PENDING','ACCEPTED','REJECTED','CANCELLED') DEFAULT 'PENDING',
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`request_id`),
  KEY `idx_case_id` (`case_id`),
  KEY `idx_lawyer_email` (`lawyer_email`),
  KEY `idx_client_email` (`client_email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lawyer_requests`
--

LOCK TABLES `lawyer_requests` WRITE;
/*!40000 ALTER TABLE `lawyer_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `lawyer_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `notification_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_email` varchar(200) NOT NULL,
  `message` text NOT NULL,
  `type` varchar(50) DEFAULT 'general',
  `link` varchar(500) DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`notification_id`),
  KEY `idx_user_email` (`user_email`),
  KEY `idx_is_read` (`is_read`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` VALUES (1,'clientadmin@gmail.com','Your account has been verified. You can now access full platform features.','case',NULL,0,'2026-04-01 22:57:54'),(2,'clientmanual@gmail.com','Your account has been verified. You can now access full platform features.','case',NULL,0,'2026-04-01 23:08:33'),(3,'test@test.com','Your account configuration requires further review or has been rejected.','case',NULL,0,'2026-04-05 22:23:51'),(4,'salman12@gmail.com','Your account configuration requires further review or has been rejected.','case',NULL,0,'2026-04-05 22:23:54');
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-05 22:57:09
